<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content.html_safe %>
  
</p>

<% if user_signed_in? %>
    <%= link_to 'Edit', edit_blog_path(@blog) %> |
<% end %>
<%= link_to 'Back', blogs_path %>