

<p class="text-center">
  <strong><%= @blog.title %></strong>
</p>

<p >
  
  <%= @blog.content.html_safe %>
  
</p>

<% if user_signed_in? %>
    <%= link_to '编辑', edit_blog_path(@blog) %> | <%= link_to '返回文章列表', blogs_path %>
<% else %>
	<%= link_to '返回文章列表', root_url %>
<% end %>
