<!--
<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
-->
<h2>Listing Blogs</h2>
<%= will_paginate @visitors%>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      
      
    </tr>
  </thead>

  <tbody>
    <% @visitors.each do |visitor| %>
      <tr>
        <td><%= link_to visitor.title, visitor %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 <%= will_paginate %>